.comparison-container {
    padding: 1.5rem 0;
    background-color: #9c713f;
}

.comparison-select {
    width: 100%;
    background-color: #422e1a;
    color: #dbc276;
    border: 2px solid #7c4f1d;
    font-family: 'Cinzel', serif;
}

.comparison-select:focus {
    outline: none;
    box-shadow: none;
    border-color: #ffae01;
}

.comparison-panel {
    background-color: #422e1a;
    border: 3px solid #7c4f1d;
    border-radius: 0.5rem;
    padding: 1rem;
    min-height: 200px;
    overflow: auto;
}

.placeholder-text {
    color: #dbc276;
    font-family: 'Cinzel', serif;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.8rem;
    border: 1.5spx solid #7c4f1d;
    border-radius: 0.5rem;
}

@media (max-width: 991.98px) {
    .comparison-panel {
        margin: 0 0.5rem;
    }
}