.medieval-navbar {
    background-color: #422e1a;
    border-bottom: 4px solid #7c4f1d;
    padding: 0.5rem 1rem;
}

.medieval-navbar .navbar-brand .brand-text {
    color: #dbc276;
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #000;
}

.d20 {
    font-size: 45px;
}

.medieval-navbar .nav-inline {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.medieval-navbar .nav-item {
    display: flex;
}

.medieval-navbar .nav-link {
    color: #dbc276;
    position: relative;
    transition: color 0.2s ease-in-out;
    padding: 0.5rem 0.75rem;
}

.medieval-navbar .nav-link:hover {
    color: #f4e3b2;
}

.medieval-navbar .active-link {
    color: #f4d0b2;
}

.medieval-navbar .navbar-nav .nav-link.active,
.medieval-navbar .navbar-nav .nav-link.show {
    color: #ffae01;
}

.medieval-navbar .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #f4e3b2;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.2s ease-in-out;
}

.medieval-navbar .nav-link:hover::after,
.medieval-navbar .active-link::after {
    width: 50%;
}