.classes-container {
    padding: 1rem;
}

.controls {
    background-color: #422e1a;
    padding: 1rem;
    border: 3px solid #7c4f1d;
    border-radius: 0.5rem;
}

.search-input,
.filter-select,
.sort-select {
    cursor: pointer;
    background-color: #9c713f;
    color: #fde291;
    border: 3px solid #7c4f1d;
    font-family: 'Cinzel', serif;
}

.search-input::placeholder {
    color: #fde291;
    font-size: 17px;
}

.search-input:focus,
.filter-select:focus,
.sort-select:focus {
    outline: none;
    box-shadow: none;
    border-color: #ffae01;
}

.search-input:focus {
    background-color: #9c713f;
    color: #fde291;
}

.option:hover {
    cursor: pointer;
    background-color: #9c713f;
    color: #fde291;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
}